#txtInput{
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 30px;
    width: 200px;
}

#color{
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    width: 100px;
    font-size: 12px;
}

.NoteForm button{
    border: 10px thick #ffffff;
    padding: 20px;
    color: white;
    border: none;
    background-color: rgb(0, 0, 0, .2);
    cursor: pointer;
}

.NoteForm button:hover{
    background-color: teal;
}
