body {
    background: #5f2c82;
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
    color: white;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
}

.notesHeader,
.notesBody,
.notesFooter {
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
}

.notesHeader{
    font-family: 'Lobster', cursive;
}

.notesBody{
    margin-top: 20px;
}

.notesFooter{
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
}